<form method="post" action="{{ path('ausstattung_delete', {'id': ausstattung.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ausstattung.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
