{% extends 'base.html.twig' %}

{% block title %}Ausstattung bearbeiten{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ausstattung bearbeiten</h1>

        {{ include('ausstattung/_form.html.twig', {'button_label': 'Update'}) }}

    </div>
{% endblock %}
