{% extends 'base.html.twig' %}

{% block title %}Raum bearbeiten{% endblock %}

{% block body %}
    <div class="container">
        <h1>Raum bearbeiten</h1>
        {{ include('room/_form.html.twig', {'button_label': 'Speichern'}) }}
    </div>
{% endblock %}
