{% extends 'base.html.twig' %}

{% block title %}Bestuhlungsplan bearbeiten{% endblock %}

{% block body %}
    <h1>Bestuhlungsplan bearbeiten</h1>

    {{ include('bestuhlungsplan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bestuhlungsplan_index') }}">back to list</a>

    {{ include('bestuhlungsplan/_delete_form.html.twig') }}
{% endblock %}
