{% extends 'base.html.twig' %}

{% block title %}Bestuhlungsplan bearbeiten{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bestuhlungsplan bearbeiten</h1>

        {{ include('bestuhlungsplan/_form.html.twig', {'button_label': 'Speichern'}) }}

    </div>
{% endblock %}
