{% extends 'base.html.twig' %}

{% block title %}Neuer Bestuhlungsplan{% endblock %}

{% block body %}
    <div class="container">
        <h1>Neuer Bestuhlungsplan</h1>
        {{ include('bestuhlungsplan/_form.html.twig') }}
    </div>

{% endblock %}
