@import '~bootstrap';
@import '~bootstrap-select/dist/css/bootstrap-select.min.css';
@import '~jquery-datetimepicker/jquery.datetimepicker.css';


body {
    padding-top: 4.5rem;
}
nav.bg-kloki {
    background-color: #750000;
    background-image: url("../images/kloki_38x40.png");
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 5px;
    padding-left: 64px;
}

a.vermietungsevent {
    background-image: url("../images/V.png");
    background-repeat: repeat;
    background-blend-mode: normal;
}
