{% extends 'base.html.twig' %}

{% block title %}Neue Bühnenanweisung{% endblock %}

{% block body %}
    <div class="container">
        <h1>Neue Bühnenanweisung</h1>

        {{ include('stage_order/_form.html.twig') }}

        <a href="{{ path('stage_order_index') }}">back to list</a>
    </div>
{% endblock %}
