<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Nachricht von der Klosterkirche{% endblock %}</title>
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
