{% extends 'base.html.twig' %}

{% block title %}Event bearbeiten{% endblock %}

{% block body %}
    <h1>Event bearbeiten</h1>

    {{ include('klo_ki_event/_editForm.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('klo_ki_event_index') }}">Zurück zur Liste</a>

    {{ include('klo_ki_event/_delete_form.html.twig') }}

    {{ encore_entry_script_tags('new-event-form') }}

{% endblock %}
