{% extends 'base.html.twig' %}

{% block title %}KloKiEvent{% endblock %}

{% block body %}
    <div class="container">
        {{ include('klo_ki_event/_show.html.twig') }}
    </div>
{% endblock %}
