<form method="post" action="{{ path('addresse_delete', {'id': adr.id}) }}" onsubmit="return confirm('Wollen Sie diese Adresse wirklich löschen?');" style="display: inline;">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ adr.id) }}">
    <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
</form>
