{% extends 'base.html.twig' %}

{% block title %}New Addresse{% endblock %}

{% block body %}
<div class="container">
    <h1>Neue Adresse anlegen</h1>

    {{ include('addresse/_form.html.twig') }}

    <a href="{{ path('addresse_index') }}">Zurück zur Liste</a>
</div>

{% endblock %}
