{% extends 'base.html.twig' %}

{% block title %}Benutzer bearbeiten{% endblock %}

{% block body %}
    <div class="container">
        <h1>Benutzer bearbeiten</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

{% endblock %}
