{% extends 'base.html.twig' %}

{% block title %}Neuen Benutzer anlegen{% endblock %}

{% block body %}
    <div class="container">
        <h1>Neuen Benutzer anlegen</h1>

        {{ include('user/_form.html.twig') }}
    </div>

{% endblock %}
